body{padding-top:166px;font-family:Lato;font-size:14px;-webkit-font-smoothing:antialiased}#nav{text-transform:uppercase;background-color:#fff;transition:all ease-in .3s;z-index:9999;border-bottom:none}