@backgroundcolor:#fff;
@color:#E35205;
@font:'Lato';
@bodyfontsize:14px;
body{
	padding-top: 166px;
	font-family: @font;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
#nav
{
	text-transform: uppercase;
	background-color: @backgroundcolor;
	transition:all ease-in 0.3s;
	z-index: 9999;
	border-bottom: none;
}
